<div class="container mt-5">
    <h3 class="text-center mb-4">Menú de Opciones</h3>
    <nav>
        <ul class="nav nav-pills nav-fill mb-4" style="background: black; border-radius: 10px;">
            <li class="nav-item">
                <a class="nav-link" style="color: white;" routerLink="user">Usuario</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color: white;" routerLink="product">Producto</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color: white;" routerLink="order">Orden</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color: white;" routerLink="report">Reporte</a>
            </li>
            <li class="nav-item">
                <button class="btn btn-danger" (click)="logout()">Cerrar sesión</button>
            </li>
        </ul>
    </nav>
    <br />
    <router-outlet></router-outlet>
</div>